langchain
langchain-text-splitters
ragas
datasets
langchain-openai
fastapi
uvicorn
gunicorn
azure-search-documents
azure-storage-blob
openai
pydantic
python-dotenv
pymupdf
pdfplumber
python-docx
beautifulsoup4
