ipykernel
openai
azure-search-documents
pymupdf
pdfplumber
python-docx
beautifulsoup4
langchain
python-dotenv
azure-storage-blob
langchain-text-splitters
pymupdf 
python-docx 
beautifulsoup4
ragas
datasets
langchain-openai
fastapi
uvicorn
gunicorn
